@page "/createguestbookentry"
@using System.IO
@using BazorProject.Shared
@using System.Text.Json;
@inject HttpClient Http
@inject IJSRuntime jsRuntime

<h1>Neuer Eintrag</h1>

<label>
    Dein Name:
    <br>
    <input id="name" @bind="name" />
</label>
<br>
<label>
    Schreibe eine Nachricht:
    <br>
    <textarea id="message" cols="24" rows="4" maxlength="250" @bind="message" />
</label>
<br>
<label>
    Lade ein Bild hoch (20 MB max):
    <br>
    <InputFile id="filePicker" OnChange="@loadFile" />
</label>
<br>
<button id="hinzufuegenButton" @onclick="createEntry">Hinzufügen</button>
<br>
<label id="wait" hidden="@waitHidden">
    Eintrag wird angelegt. Bitte warten...
</label>
<label id="success" hidden="@successHidden">
    Eintrag erfolgreich angelegt!
</label>
<label id="failure" hidden="@failureHidden">
    @failureMessage
</label>
<br>
<div class="spin" hidden="@waitHidden"></div>
<br>

@code {
    IBrowserFile selectedFile;

    private async Task loadFile(InputFileChangeEventArgs e)
    {
        selectedFile = e.GetMultipleFiles().FirstOrDefault();
        successHidden = true;
        failureHidden = true;
        this.StateHasChanged();
    }

    private string name = "";
    private string message = "";
    private bool waitHidden { get; set; } = true;
    private bool successHidden { get; set; } = true;
    private bool failureHidden { get; set; } = true;
    private string failureMessage { get; set; } = "";

    private async Task createEntry()
    {
        waitHidden = false;
        await jsRuntime.InvokeVoidAsync("disable", "hinzufuegenButton");
        await jsRuntime.InvokeVoidAsync("disable", "filePicker");
        await jsRuntime.InvokeVoidAsync("disable", "message");
        await jsRuntime.InvokeVoidAsync("disable", "name");
        await jsRuntime.InvokeVoidAsync("disableNavMenu");
        this.StateHasChanged();
        try
        {

            if (string.IsNullOrEmpty(name) || string.IsNullOrEmpty(message))
            {
                failureHidden = false;
                failureMessage = "Name und Nachricht müssen gesetzt sein!";
                return;
            }

            failureHidden = true;
            long maxFileSize = 1024 * 1024 * 20;
            var uploadFile = false;

            using var content = new MultipartFormDataContent();

            if (selectedFile != null && selectedFile.Size < maxFileSize)
            {
                var fileContent = new StreamContent(selectedFile.OpenReadStream(maxFileSize));

                content.Add(
                content: fileContent,
                name: "\"files\"",
                fileName: selectedFile.Name);

                uploadFile = true;
            }

            IList<UploadResult> newUploadResults = null;
            if (uploadFile)
            {
                var response = await Http.PostAsync("/Filesave", content);

                newUploadResults = await response.Content
                    .ReadFromJsonAsync<IList<UploadResult>>();
            }

            if (newUploadResults?.FirstOrDefault().ErrorCode > 0)
            {
                throw new Exception($"Upload fehlgeschlagen. Code {newUploadResults?.FirstOrDefault().ErrorCode}");
            }

            GuestbookEntry entry = new GuestbookEntry
            {
                Name = name,
                Message = message,
                Date = DateTime.Now,
                PathToFile = newUploadResults?.FirstOrDefault()?.Path
            };

            var stringContent = new StringContent(JsonSerializer.Serialize(entry), System.Text.Encoding.UTF8, "application/json");
            var response2 = await Http.PostAsync("Guestbook/Save", stringContent);
            successHidden = false;
            cleanup();
        }
        catch (Exception e)
        {
            failureHidden = false;
            failureMessage = e.Message;
        }
        finally
        {
            waitHidden = true;
            await jsRuntime.InvokeVoidAsync("enable", "hinzufuegenButton");
            await jsRuntime.InvokeVoidAsync("enable", "filePicker");
            await jsRuntime.InvokeVoidAsync("enable", "message");
            await jsRuntime.InvokeVoidAsync("enable", "name");
            await jsRuntime.InvokeVoidAsync("enableNavMenu");
            this.StateHasChanged();
        }
    }

    private void cleanup()
    {
        message = "";
        name = "";
        selectedFile = null;
    }
}