@page "/guestbook"
@using BazorProject.Shared
@using BazorProject.Shared.Paging
@using BazorProject.Client.Features
@using System.Text.Json;
@using Microsoft.AspNetCore.WebUtilities;
@using System.Net
@inject HttpClient Http
@inject IJSRuntime jsRuntime

<h1 id="topOfPage" hidden>Top Of Page</h1>
<h3>Gästebuch</h3>
<br />

@if (pagingResponse == null)
{
    <p><em>Einträge werden geladen...</em></p>
    <div class="spin"></div>
    <br>
}
else if (pagingResponse.Items == null)
{
    <p><em>Es gibt noch keine Einträge im Gästebuch.</em></p>
    <br>
}
else
{
    <div class="row">
        <div class="col">
            <Pagination MetaData="pagingResponse.MetaData" Spread="5" SelectedPage="SelectedPage" />
        </div>
    </div>
    <hr />
    <br />
    @foreach (var entry in pagingResponse.Items)
    {
        <div>
            @entry.Name schrieb am @entry.Date.ToString("D") um @entry.Date.ToString("t"):
            <br>
            <div style="font-size:20px;font-weight:bold">@entry.Message</div>
            @if (@entry.Image != null)
            {
                <br>
                <div style="overflow:hidden; max-width:500px"><img class="img-fluid" style="max-width:100%; height:auto" src="data:image;base64,@System.Convert.ToBase64String(@entry.Image)" /></div>
            }
            @if (@entry.Filename != null)
            {
                <br>
                <div><a href="Filedownload/?filename=@entry.Filename" target="_blank">Download</a></div>
            }
        </div>
        <br>
        <hr>
    }
    <br>
    <div class="row">
        <div class="col">
            <Pagination MetaData="pagingResponse.MetaData" Spread="5" SelectedPage="SelectedPage" />
        </div>
    </div>
}

@code {
    private PagingResponse<GuestbookEntry> pagingResponse;
    private PagingParameters parameters = new PagingParameters();

    protected override async Task OnInitializedAsync()
    {
        Dictionary<string, string> queryStringParam = new Dictionary<string, string>
        {
            ["pageNumber"] = "1",
            ["pageSize"] = "5"
        };

        HttpResponseMessage response = await Http.GetAsync(QueryHelpers.AddQueryString("Guestbook", queryStringParam));
        string content = await response.Content.ReadAsStringAsync();
        if (!response.IsSuccessStatusCode)
        {
            throw new ApplicationException(content);
        }

        pagingResponse = new PagingResponse<GuestbookEntry>();

        if (string.IsNullOrEmpty(content))
        {

            return;
        }

        pagingResponse.Items = JsonSerializer.Deserialize<List<GuestbookEntry>>(content, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
        pagingResponse.MetaData = JsonSerializer.Deserialize<MetaData>(response.Headers.GetValues("X-Pagination").First(), new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
    }

    public async Task GetGuestbookEntries(PagingParameters parameters)
    {
        Dictionary<string, string> queryStringParam = new Dictionary<string, string>
        {
            ["pageNumber"] = parameters.PageNumber.ToString(),
            ["pageSize"] = parameters.PageSize.ToString()
        };

        HttpResponseMessage response = await Http.GetAsync(QueryHelpers.AddQueryString("Guestbook", queryStringParam));
        string content = await response.Content.ReadAsStringAsync();
        if (!response.IsSuccessStatusCode)
        {
            throw new ApplicationException(content);
        }

        pagingResponse = new PagingResponse<GuestbookEntry>
        {
            Items = JsonSerializer.Deserialize<List<GuestbookEntry>>(content, new JsonSerializerOptions { PropertyNameCaseInsensitive = true }),
            MetaData = JsonSerializer.Deserialize<MetaData>(response.Headers.GetValues("X-Pagination").First(), new JsonSerializerOptions { PropertyNameCaseInsensitive = true })
        };
    }

    private async Task SelectedPage(int page)
    {
        pagingResponse = null;
        parameters.PageNumber = page;
        await GetGuestbookEntries(parameters);
        await jsRuntime.InvokeVoidAsync("scrollTop");
    }
}